@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



body {
 
  color: white;
  font-family: 'K2D', sans-serif;
}

.font{font-family: 'K2D', sans-serif;}
.text-regular {
  font-size: 16px;
}
.text-regular-30 {
  font-size: 30px;
}